
.one{
    background-image: url("./img/slider/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.two{
    background-image: url("./img/slider/2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
