
.one{
    background-image: url("./img/slider/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.two{
    background-image: url("./img/slider/2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.three{
    background-image: url("./img/slider/3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}.four{
    background-image: url("./img/slider/4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}.five{
    background-image: url("./img/slider/5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
